test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://example/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:odex="http://www.apache.org/ode/type/extension/http" 
	targetNamespace="http://example/">

	<wsdl:documentation>
		english only?
		wowow?
	</wsdl:documentation>
	<!-- 定義資料形態 -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example/">
			<xsd:element name="art" type="tns:ArticleType"/>
			<xsd:element name="result" type="xsd:string"/>
			<xsd:complexType name="ArticleType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<!-- 所傳遞參數（message）的定義 -->
	<wsdl:message name="getDetailRequestMessage">
		<wsdl:part name="artId" element="tns:art" />
	</wsdl:message>
	<wsdl:message name="NoPartMessage" />
	<wsdl:message name="resultResponse">
		<wsdl:part name="result" element="tns:result"/>
	</wsdl:message>
	<!-- 定義operation -->
	<wsdl:portType name="RESTPortType">
		<wsdl:operation name="getAll">
			<wsdl:input message="tns:getDetailRequestMessage" />
			<wsdl:output message="tns:NoPartMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<!-- 感覺是關鍵，設定為get方法 -->
	<wsdl:binding name="binding" type="tns:RESTPortType">
		<wsdl:operation name="getAll">
			<http:operation location="/(artId)" />
			<odex:binding verb="GET" />
			<wsdl:input>
				<http:urlReplacement/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="entry"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<!-- 設定服務位址，應該吧 -->
	<wsdl:service name="RESTService">
		<wsdl:port name="RESTPort" binding="tns:binding">
			<http:address location="http://api.douban.com/people" />
		</wsdl:port>
	</wsdl:service>
<!-- 
	<plnk:parnerLinkType name="RESTTestPT">
		<plnk:role name="RESTTestProvider" portType="tns:RESTTest" />
	</plnk:parnerLinkType> 
-->
</wsdl:definitions>